nav {
    display: flex;
    width: 100%;
    align-items: center;
    justify-content: space-between;
    padding: 1rem 4rem;
}

.logo {
    font-size: 2rem;
}

.nav-links {
    list-style-type: none;
    display: flex;
    gap: 1rem;
}

.nav-link {
    font-size: 1rem;
}